* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/*root*/

:root {
  --cor-bg-header: #222;
  --cor-txt-header: #ddd;
}

/*cabeçalho*/

header {
  background-color: var(--cor-bg-header);
  color: var(--cor-txt-header);
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

    /*barra de pesquisa*/
#barra_pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cor-txt-header);
  padding: 1px;
  border-radius: 5px;
}
#barra_pesquisa > input {
  padding: 2.5px 5px;
  font-size: 1em;
  width: 25vw;
  
  background-color: transparent;
  border: none;
}
#barra_pesquisa > input:focus-visible {
  outline: none;
}
#barra_pesquisa > svg {}

    /*carrinho e login/cadastro*/

#carrinho, #login_cadastro {
  display: flex;
  align-items: center;
}
#carrinho:hover, #login_cadastro:hover {
  cursor: pointer;
}
#carrinho-info, #login_cadastro-info {
  padding-left: 2.5px;
  display: flex;
  flex-direction: column;
  align-items: start;

  font-size: .8em;
  font-weight: bolder;
}
#login_cadastro-txt1 {
  font-weight: normal;
}
#login_cadastro:hover {
  #login_cadastro-txt2 {
    text-decoration: underline;
  }
}
#carrinho-qtd {
  background-color: var(--cor-txt-header);
  color: var(--cor-bg-header);
  padding: 1px 5px;
  margin-bottom: 2px;
  border-radius: 50%;
}


main {
  background-image: linear-gradient(to bottom, #222, #0c0348);
  height: 100vh;
}